<% provide(:keywords, 'gross, profit, margin, calculator, business, markup, sales, lift, analysis, price, calculation, financial') %>
<% provide(:description, 'Business calculators for owners, managers, and sales forces that are formatted for any device. Maximize every sale with profit calculators that drive results.') %>

<div class="center jumbotron">
		<h1>ProfitCruncher</h1>

		<p>Start managing profits today with handy calculators for business owners, managers, and sales forces.  We provide business calculators that you can access on any device, so you can maximize every sale.  Plan sales promotions smarter with the Sales Lift Calculator and Profit Recap Calculator.</p>
</div>
