<div class="center jumbotron">
		<h1>ProfitCruncher</h1>

		<p>Start managing profits today with handy calculators for business owners, managers, and sales forces.  We provide business calculators that you can access on any device, so you can maximize every sale.  Take out the guess work with ProfitCruncher.</p>
</div>
