<% provide(:title, 'ProfitCrunch') %>
<h1>ProfitCrunch</h1>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
			<div class="col-xs-6">
				<label for="units-case">Units/Case:</label>
				<div class="input-group">
  				<input type="number" step=".01" class="form-control profitcrunch-units-case" id="units-case">
				</div>
				<label for="case-cost">Case Cost:</label>
				<div class="input-group">
  				<span class="input-group-addon">$</span>
  				<input type="number" step=".01" class="form-control profitcrunch-case-cost" id="case-cost">
				</div>
				<label for="unit-cost">Unit Cost:</label>
				<div class="input-group">
  				<span class="input-group-addon">$</span>
  				<input type="number" step=".01" class="form-control profitcrunch-unit-cost" id="disabledInput unit-cost" disabled>
				</div>
				<label for="ptc">Unit Sell Price:</label>
				<div class="input-group">
  				<span class="input-group-addon">$</span>
  				<input type="number" step=".01" class="form-control profitcrunch-unit-ptc" id="ptc">
				</div>
			</div>
			<div class="col-xs-6">
				<label for="total-profit">Total Profit:</label>
				<div class="input-group">
  				<span class="input-group-addon">$</span>
  				<input type="number" step=".01" class="form-control profitcrunch-total-profit" id="disabledInput total-profit" disabled>
				</div>
				<label for="profit">Unit Profit:</label>
				<div class="input-group">
  				<span class="input-group-addon">$</span>
  				<input type="number" step=".01" class="form-control profitcrunch-unit-profit" id="disabledInput profit" disabled>
				</div>
				<label for="gross-profit">Gross Profit Margin:</label>
				<div class="input-group">
  				<input type="number" step=".01" class="form-control profitcrunch-gross-profit" id="disabledInput gross-profit" disabled>
  				<span class="input-group-addon">%</span>
				</div>
				<label for="markup">Markup:</label>
				<div class="input-group">
  				<input type="number" step=".01" class="form-control profitcrunch-markup" id="disabledInput markup" disabled>
  				<span class="input-group-addon">%</span>
				</div>
			</div>
		</div>
	</div>